<div class="row">
    <div class="column column-60">
      <h1><%= @video.title %></h1>
      <%= content_tag :div, id: "video",
          data: [id: @video.id, player_id: player_id(@video)] do %>
      <% end %>
    </div>

    <div class="column annotations">
      <h3>Annotations</h3>

      <div id="msg-container">
      </div>

      <div>
        <textarea id="msg-input" rows="3" placeholder="Comment..."></textarea>
        <button id="msg-submit" class="button column" type="submit">Post</button>
      </div>
    </div>
</div>

<hr/>
<div class="row">
  <div class="column">
    <h3>Users</h3>
    <ul id="user-list">
    </ul>
  </div>
</div>
